@media(min-width:1600px) {
	.container {
		max-width: 1600px
	}
}

@media (max-width: 1600px) {
    :root {
        --fs-18: 17px;
        --fs-45: 40px;
        --fs-30: 26px;
        --fs-20: 18px;
        --fs-40: 36px;
        --fs-52: 48px;
        --fs-25: 24px;
        --fs-65: 55px;
    }
    .margin-top {
        margin-top: 150px;
    }
    .loader-image {
        max-width: 540px;
    }
    .site-logo {
        max-width: 280px;
    }
    .grid-header {
        padding-top: 14px;
        padding-bottom: 14px;
    }
    .universal-btn {
        padding: 10px 32px;
    }
    .footer-links li a {
        line-height: 70px;
    }
    .subscribe-mail .input-box {
        margin-bottom: 20px;
    }
    .subscribe-mail {
        max-width: 320px;
    }
    .call-heading, .call-link {
        line-height: 50px;
    }
    .our-promise-section {
        padding: 200px 0;
    }
    .primary-heading {
        margin-bottom: 30px;
        line-height: 1.5;
    }
    .flip-box {
        height: 340px;
    }
    .product-title {
        line-height: 1;
    }
    .products-section {
        padding: 100px 0;
    }
    .hero-section {
        margin-top: -150px;
    }
    .image-home {
        height: 860px;
    }
    .slider-heading {
        line-height: 1.2;
    }
    .slider-content {
        padding-left: 30px;
    }
}

@media (max-width: 1400px) {
    :root {
        --fs-18: 16px;
        --fs-45: 32px;  
        --fs-30: 24px;
        --fs-40: 32px;
        --fs-22: 20px;
        --fs-52: 44px;
        --fs-25: 22px;
        --fs-65: 45px;
    }
    .margin-top {
        margin-top: 145.72px;
    }
    .hero-section {
        margin-top: -145.72px;
    }
    .loader-image {
        max-width: 480px;
    }
    .site-logo {
        max-width: 260px;
    }
    .footer-links li a {
        line-height: 60px;
    }
    .main-footer {
        padding-right: 40px;
    }
    .subscribe-heading {
        line-height: 1.5;
        margin-bottom: 20px;
    }
    .subscribe-mail .input-box input {
        padding: 12px 20px;
    }
    .social-links {
        margin-top: 70px;
    }
    .copyright p {
        line-height: 1.5;
    }
    .call-heading {
        line-height: 45px;
        max-width: 600px;
    }
    .our-promise-section {
        padding: 150px 0;
    }
    .our-promise-box {
        max-width: 990px;
    }
    .flip-box {
        height: 300px;
    }
    .product-title {
        margin-bottom: 20px;
    }
    .product-option {
        margin: 0 auto 20px;
    }
    .products-wrapper {
        gap: 20px;
    }
    .product-content {
        transform: translateY(20%);
    }
    .products-wrapper {
        padding-top: 30px;
    }
    .products-section {
        padding: 80px 0;
    }
    .service-content {
        padding: 40px;
    }
    .image-home {
        height: 840px;
    }
    .slider-description {
        line-height: 1.5;
    }
}

@media (max-width: 1200px) {
    :root {
        --fs-16: 15px;
        --fs-45: 28px;
        --fs-30: 20px;
        --fs-20: 17px;
        --fs-40: 26px;
        --fs-22: 18px;
        --fs-52: 40px;
        --fs-25: 19px;
    }
    .main-navigation ul {
        gap: 60px;
    }
    .footer-links li a {
        line-height: 50px;
    }
    .footer-logo {
        max-width: 260px;
        width: 100%;
        margin: 0 auto 30px;
    }
    .extra-links li a {
        line-height: 1.5;
    }
    .call-section {
        padding: 60px 0;
    }
    .call-heading {
        line-height: 40px;
        margin: 0 auto 16px;
    }
    .our-promise-section {
        padding: 100px 0;
    }
    .primary-heading {
        margin-bottom: 20px;
    }
    .promise-description {
        line-height: 1.8;
    }
    .our-promise-section {
        background-size: 600px;
    }
    .flip-box {
        height: 250px;
    }
    .service-content {
        padding: 40px 20px;
    }
    .service-description {
        line-height: 1.4;
        margin-bottom: 30px;
    }
    .service-heading-secondary {
        line-height: 1.4;
        margin-bottom: 10px;
    }
    .title-holder {
        height: 480px;
    }
    .welcome-holder {
        left: 5%;
        max-width: 920px;
    }
    .slider-content {
        max-width: 560px;
    }
    .side-box {
        display: none;
    }
}

@media (max-width: 992px) {
    :root {
        --fs-18: 15px;
        --fs-40: 24px;
        --fs-22: 17px;
        --fs-52: 36px;
        --fs-25: 18px;
    }
    .margin-top {
        margin-top: 133.52px;
    }
    .hero-section {
        margin-top: -133.52px;
    }
    .loader-image {
        max-width: 420px;
    }
    .grid-header,
    .main-navigation {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .site-logo {
        max-width: 200px;
    }
    .universal-btn {
        padding: 8px 28px;
    }
    .mobile-menu {
        display: block;
    }
    .main-navigation ul {
        gap: 20px;
        flex-direction: column;
        max-width: 100%;
        width: 100%;
        margin: 0;
    }
    .nav-list {
        position: fixed;
        top: 0;
        right: -100%;
        background: var(--color-green);
        max-width: 300px;
        width: 100%;
        padding: 30px 20px;
        height: 100vh;
        transition: 0.8s ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        z-index: 11;
    }
    .close-menu {
        display: inline-block;
    }
    .main-navigation ul li a {
        display: block;
    }
    .main-navigation ul li a:hover {
        color: var(--color-white);
    }
    .nav-list.show-menu {
        right: 0;
    }
    .nav-list.show-menu .side-overlay {
        display: inline;
    }
    .footer-box {
        flex-direction: column-reverse;
    }
    .side-footer, .main-footer {
        max-width: 100%;
        padding: 30px 20px;
    }
    .footer-wrapper {
        margin: 0 auto 60px;
    }
    .copyright {
        margin: 0 auto;
    }
    .social-links {
        margin-top: 40px;
    }
    .call-heading, .call-link {
        line-height: 1.5;
    }
    .our-promise-section {
        padding: 80px 0;
    }
    .primary-heading {
        margin-bottom: 10px;
    }
    .products-wrapper {
        grid-template-columns: 1fr 1fr;
    }
    .flip-box {
        height: 300px;
    }
    .product-content {
        transform: translateY(16%);
    }
    .service-slide-image {
        height: 500px;
    }
    .service-slide-image img {
        height: 100%;
        object-fit: cover;
    }
    .welcome-holder {
        max-width: 720px;
        left: 50%;
        transform: translate(-50%, -35%);
    }
    .title-holder {
        background-image: none !important;
        background: rgba(255, 255, 255, 0.85);
        backdrop-filter: blur(2px);
        height: 420px;
        padding: 10px;
    }
    .slider-content {
        padding: 0;
    }
    .slider-content .universal-btn {
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    :root {
        --fs-45: 24px;
        --fs-40: 22px;
        --fs-22: 16px;
        --fs-30: 18px;
        --fs-52: 32px;
    }
    .margin-top {
        margin-top: 129.52px;
    }
    .hero-section {
        margin-top: -129.52px;
    }
    .welcome-holder {
        max-width: 530px;
    }
    .title-holder {
        height: 400px;
        padding: 10px 20px;
    }
    .loader-image {
        max-width: 360px;
    }
    .main-navigation {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .our-promise-section {
        padding: 60px 0;
    }
    .our-promise-section {
        background-size: 500px;
    }
    .products-wrapper {
        gap: 10px;
    }
    .flip-box {
        height: 210px;
    }
    .product-content {
        transform: translateY(22%);
    }
    .product-title {
        margin-bottom: 10px;
    }
    .products-section {
        padding: 60px 0;
    }
    .service-slide-image {
        height: 400px;
    }
    .swiper.serviceContentSlider {
        max-width: 460px;
    }
    .service-bg {
        padding: 6px;
    }
    .service-content {
        padding: 20px 16px;
    }
}

@media (max-width: 576px) {
    :root {
        --fs-20: 16px;
        --fs-45: 22px;
        --fs-30: 17px;
        --fs-16: 14px;
        --fs-40: 20px;
        --fs-22: 15px;
        --fs-52: 30px;
        --fs-25: 16px;
    }
    .margin-top {
        margin-top: 112.44px;
    }
    .hero-section {
        margin-top: -112.44px;
    }
    .loader-image {
        max-width: 320px;
    }
    .site-logo {
        max-width: 165px;
    }
    .universal-btn {
        padding: 6px 24px;
    }
    .hamburger, .hamburger-one:before, .hamburger-one:after {
        height: 2px;
    }
    .hamburger:before {
        top: -10px;
    }
    .hamburger:after {
        top: 10px;
    }
    .main-navigation {
        padding-top: 6px;
        padding-bottom: 6px;
    }
    .quote a {
        white-space: nowrap;
    }
    .footer-wrapper {
        flex-direction: column;
        gap: 20px;
        margin: 0 auto 30px;
    }
    .extra-links li {
        margin-bottom: 12px;
    }
    .social-links {
        margin-top: 30px;
    }
    .footer-links li a {
        line-height: 40px;
    }
    .subscribe-mail {
        max-width: 100%;
    }
    .call-section {
        padding: 40px 0;
    }
    .call-heading {
        margin: 0 auto 10px;
    }
    .our-promise-section {
        padding: 40px 0;
    }
    .promise-description {
        line-height: 1.6;
        font-weight: 400;
    }
    .our-promise-section {
        background-size: 200px;
    }
    .products-wrapper {
        grid-template-columns: 1fr;
    }
    .flip-box {
        max-width: 100%;
        height: 300px;
    }
    .product-content {
        transform: translateY(14%);
    }
    .product-title {
        margin-bottom: 20px;
    }
    .products-section {
        padding: 50px 0;
    }
    .products-wrapper {
        gap: 20px;
    }
    .services-section {
        padding: 60px 0;
    }
    .welcome-holder {
        max-width: 100%;
        padding: 0 12px;
    }
    .welcome-holder {
        transform: translate(-50%, -40%);
    }
    .title-holder {
        height: auto;
        padding: 60px 20px;
    }
}

@media (max-width: 430px) {
    :root {
        --fs-45: 20px;  
        --fs-30: 16px;
        --fs-40: 18px;
        --fs-22: 14px;
        --fs-52: 26px;
        --fs-25: 15px;
    }
    .loader-image {
        max-width: 240px;
    }
    .grid-header {
        gap: 10px;
    }
    .side-footer, .main-footer {
        padding: 30px 10px;
    }
    .social-links {
        gap: 16px;
        flex-wrap: wrap;
    }
    .footer-links li {
        padding-bottom: 10px;
    }
    .footer-links li a {
        line-height: 1.5;
    }
    .footer-wrapper {
        gap: 10px;
    }
    .products-wrapper {
        padding-top: 20px;
    }
    .service-slide-image {
        height: 360px;
    }
    .swiper.serviceContentSlider {
        max-width: 90%;
    }
    .title-holder {
        padding: 60px 10px;
    }
    .image-home {
        height: 100vh;
    }
}
@media (max-width: 360px) {
    :root {
        --fs-40: 16px;
        --fs-52: 24px;
        --fs-25: 14px;
    }
    .universal-btn {
        padding: 6px 16px;
    }
    .copyright p {
        font-size: 12px;
    }
    .flip-box {
        height: 260px;
    }
    .slider-content .universal-btn {
        margin-top: 16px;
    }
}